<div data-role="view" data-title="Add Nice Food" data-layout="main" data-model="foodMS_add" id="view-foodMS-add" data-after-show="fn_foodMS_add_after_show">
    <!--<h1 data-bind="html: title"></h1>-->

    <ul data-role="listview">
        <li>
            <button data-role="button" data-bind="events: { click: fn_take_picture }">Take picture</button>
            <br /><br />
            <img id="img_camera" style="width:90%;" />
        </li>
   
        <li>
            <ul id="btnGrp_halal" data-role="buttongroup">
                <li>Halal</li>
                <li>Non-halal</li>
                <li>Vegetarian</li>
            </ul>
        </li>
        <li>
            <label>
                Say something
                <input type="text" value="" id="txt_remark" />
            </label>
        </li>

        <li style="text-align:center">
            <button data-role="button" data-bind="events: { click: fn_submit_food_add }">Submit</button>
            <button data-role="backbutton" >Cancel</button>
        </li>
    </ul>

    <div style="margin-top: 150px; padding:10px 10px 10px 10px; background-color: gray; color: #fff;">
        <strong>Log:</strong>
        <img style="display:none;margin:5px auto; width:120px; height:120px;" id="smallImage"  />
        <br /><br />
        Date:
        <div id="report-date">[date]</div> <br />
        Lat:
        <div id="report-lat">[lat]</div> <br />
        Lng:
        <div id="report-lng">[lng]</div><br />

        Location:
        <div id="report-location">[location]</div><br />

        FB Name:
        <div id="fb_name">[FB Name]</div><br />
        FB Email:
        <div id="fb_email">[FB Email]</div><br />
        Device UUID:
        <div id="device_UUID">[Device UUID]</div>
        <br />
        <div id="log">
            Log
        </div>

    </div>

</div>