<div data-role="view" data-title="Sample - List View"
     data-layout="main"
     data-init="fn_init"
     id="sample_listview_testMS">

    <style>
        #sample_listview_testMS .delete {
            display: none;
            position: absolute;
            top: .15em;
            right: .5em;
            width: 60px;
            background-color: #bd2729;
            color: #fff;
        }
    </style>



    <h2>Total Messages: <span id="total-message"></span></h2>

    <ul id="sample-listview"></ul>

    <script type="text/x-kendo-tmpl" id="sample-listview-template">
        <div class="product-item">

            <h3>#:RowNum#. #:inbox_message#</h3>
            <a href="\\#" data-role="button" class="delete">Delete</a>
        </div>
    </script>
    <!--<p>#:kendo.toString(score, "c")#</p>-->
    <!--<ul id="flat-listview"></ul>

    <ul id="grouped-listview"></ul>-->

</div>

<div data-role="view" id="edit-detailview"
     data-model="sample_listviewMS"
     data-bind="events: { init: fn_init_detail, show: fn_show_detail }">

    <header data-role=" header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton" id="cancel">Cancel</a>
            <span data-role="view-title">Details</span>
            <a class="nav-button" data-align="right" data-role="button" id="done">Done</a>
        </div>
    </header>

    <form>
        <ul data-role="listview" data-style="inset" onclick="">
            <li>
                <label>
                    Message
                    <input type="text" data-bind="value: inbox_message" />
                </label>
            </li>

        </ul>
    </form>
</div>